h1 {
  color:rgb(194, 13, 13);
}

#pantry-header {
  background-color:saddlebrown;
  display: block;
  padding: 10px;
  margin-top:25px;
  margin-bottom:25px;
  text-align:center;
  color:blanchedalmond;
  border-radius: 5px;
  border-color:blanchedalmond;
  border-style:double;
  border-width: 5px;
}

.pantry-goods {
  background-color:peru;
  display: inline-block;
  padding: 10px;
  margin:10px;
  vertical-align:middle;
  border-radius: 5px;
  border-color:saddlebrown;
  border-style:double;
  border-width: 5px;
}

.canned-header{
  background-color:blanchedalmond;
  color:saddlebrown;
  text-align:center;
  border-radius: 5px;
  border-color:saddlebrown;
  border-style:double;
  border-width: 5px;
  padding:2px;
}

.dry-header{
  background-color:blanchedalmond;
  color:saddlebrown;
  text-align:center;
  border-radius: 5px;
  border-color:saddlebrown;
  border-style:double;
  border-width: 5px;
  padding:2px;
}

#pantry-image {
  padding: 10px;
  display:inline-block;
  vertical-align:middle;
  margin:10px;
  
}

#freezer-header{
  padding:10px;
  margin-top:25px;
  margin-bottom:25px;
  text-align:center;
  color: aliceblue;
  border-radius: 5px;
  border-color:aliceblue;
  border-style:double;
  border-width: 5px;
  
}

.freezer-goods {
  background-color:skyblue;
  display: inline-block;
  padding: 10px;
  margin:10px;
  vertical-align:middle;
  border-radius: 5px;
  border-color:deepskyblue;
  border-style: double;
  border-width: 5px;
}

.veggie-header{
  background-color:aliceblue;
  color:deepskyblue;
  text-align:center;
  border-radius: 5px;
  border-color:deepskyblue;
  border-style:double;
  border-width: 5px;
  padding:2px;
}

.snacks-header{
  background-color:aliceblue;
  color:deepskyblue;
  text-align:center;
  border-radius: 5px;
  border-color:deepskyblue;
  border-style:double;
  border-width: 5px;
  padding:2px;
}

#freezer-image{
  padding: 10px;
  display: inline-block;
  vertical-align:middle;
  margin:10px;
}